<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-ionic"
    version="4.2.0">
    <name>IonicCordova</name>
    <description>Common Cordova functionality for Ionic apps</description>
    <license>MIT</license>
    <keywords>Ionic,native,html5,hybrid,cordova</keywords>
    <repo>https://github.com/ionic-team/cordova-plugin-ionic.git</repo>
    <issue>https://github.com/ionic-team/cordova-plugin-ionic/issues</issue>

    <js-module src="dist/common.js">
        <clobbers target="IonicCordova" />
    </js-module>
    <js-module src="dist/guards.js" name="guards">
      <runs/>
    </js-module>
    <preference name="APP_ID" />
    <preference name="CHANNEL_NAME" />
    <preference name="WARN_DEBUG" default="true"/>
    <preference name="UPDATE_API" default="https://api.ionicjs.com" />
    <preference name="UPDATE_METHOD" default="background" />
    <preference name="MAX_STORE" default="2" />
    <preference name="ROLLBACK_TIMEOUT" default="10" />
    <preference name="MIN_BACKGROUND_DURATION" default="30" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IonicCordovaCommon">
                <param name="ios-package" value="IonicCordovaCommon" onload="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="IonAppId">
            <string>$APP_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IonDebug">
            <string>$WARN_DEBUG</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IonChannelName">
            <string>$CHANNEL_NAME</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IonApi">
            <string>$UPDATE_API</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IonUpdateMethod">
            <string>$UPDATE_METHOD</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IonMaxVersions">
            <string>$MAX_STORE</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IonMinBackgroundDuration">
            <string>$MIN_BACKGROUND_DURATION</string>
        </config-file>

        <header-file src="src/ios/CDVSplashScreen+IonicCordovaCommon.h" />
        <source-file src="src/ios/CDVSplashScreen+IonicCordovaCommon.m" />
        <header-file src="src/ios/IonicCordovaCommon.h" />
        <source-file src="src/ios/IonicCordovaCommon.m" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="IonicCordovaCommon">
                <param name="android-package" value="com.ionicframework.common.IonicCordovaCommon" onload="true" />
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="ionic_app_id">$APP_ID</string>
            <string name="ionic_debug">$WARN_DEBUG</string>
            <string name="ionic_channel_name">$CHANNEL_NAME</string>
            <string name="ionic_update_api">$UPDATE_API</string>
            <string name="ionic_update_method">$UPDATE_METHOD</string>
            <string name="ionic_max_versions">$MAX_STORE</string>
            <string name="ionic_rollback_timeout">$ROLLBACK_TIMEOUT</string>
            <string name="ionic_min_background_duration">$MIN_BACKGROUND_DURATION</string>
        </config-file>

        <source-file src="src/android/IonicCordovaCommon.java" target-dir="src/com/ionicframework/common" />
    </platform>

    <dependency id="cordova-plugin-splashscreen" version="^5.0.1"/>
    <dependency id="cordova-plugin-ionic-webview" version=">=2.0.0"/>
    <dependency id="cordova-plugin-file" version="^6.0.1"/>

</plugin>
